/*
 * ╔════════════════════╗
 * ║   Default Reset    ║
 * ╚════════════════════╝
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  border-radius: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;

  color: white;
  font-family: "Courier New", Courier, monospace;
  gap: 0.75rem;
  background: radial-gradient(ellipse at 96% 86%, rgba(0, 5, 21, 1), #080118, rgb(12, 10, 25));
}

button {
  font-family: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*
 * ╔════════════════╗
 * ║     Header     ║
 * ╚════════════════╝
 */

header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.3em 3em;
  background: linear-gradient(100deg, rgba(8, 250, 0, 0.055), rgba(74, 253, 244, 0.04));
  width: 100%;
}

.title {
  color: rgba(255, 255, 255, 0.856);
  font-size: 1.1rem;

  width: fit-content;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 200;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title a {
  color: rgba(150, 248, 146, 0.952);
  letter-spacing: 2px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}

.title a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: rgb(142, 255, 142);
  box-shadow: 0px 1px 5px rgba(0, 255, 0, 0.5);
  transition: all 0.3s ease-in;
}


.title a:hover::after {
  width: 100%;
}


/*
 * ╔════════════════╗
 * ║     Main       ║
 * ╚════════════════╝
 */

main {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

/*
 * ╔════════════════╗
 * ║     Canvas     ║
 * ╚════════════════╝
 */

canvas {
  height: 69vh;
  width: 70vw;
  max-width: 1240px;
  border: solid 2px rgba(51, 255, 61, 0.048);
  border-radius: 2px;
  background: linear-gradient(30deg,
      rgba(218, 255, 232, 0.007),
      rgba(142, 142, 255, 0.006),
      rgba(255, 0, 0, 0.01),
      rgba(237, 237, 250, 0.01),
      rgba(255, 254, 254, 0.008),
      rgba(20, 6, 29, 0.144));
  margin-bottom: 4px;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.canvas-container p {
  opacity: 50%;
  font-size: 0.7em;
  font-style: italic;
  text-transform: lowercase;
}

.boid-controller-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.55em;
  width: 75%;
}

/*
 * ╔════════════════════════╗
 * ║   First Group Styles   ║
 * ╚════════════════════════╝
 */

.first-group-wrapper {
  display: grid;
  padding: 1em;
  border-radius: 5px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  width: 100%;
  border: solid 2px rgba(54, 236, 109, 0.247);
  gap: 1.5rem;
  background-color: rgba(248, 244, 19, 0.021);
}

.first-group-element-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.slider-range {
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
  align-items: center;
}

.slider-range>div:first-child {
  color: rgba(253, 94, 94, 0.85);
}

.slider-range>div:last-child {
  color: rgba(51, 245, 138, 0.85);
}

.slider-label {
  font-size: 0.7rem;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.9);
}

input[type="range"] {
  cursor: pointer;
  accent-color: rgb(255, 82, 111);
}

#color-wrap {
  justify-self: center;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}


#toggle-wrap {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

.toggle-label input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.toggle-label span {
  height: 1.1em;
  width: 1.1em;
  border: 1px solid rgba(132, 209, 88, 0.425);
  display: inline-block;
  vertical-align: middle;
  border-radius: 25%;
}

.toggle-label input:checked+span {
  background-color: rgba(37, 228, 94, 0.342);
}

/*
 * ╔════════════════════════╗
 * ║   Second Group Styles  ║
 * ╚════════════════════════╝
 */

.second-group-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

#boids-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  background-color: rgba(193, 255, 22, 0.011);
  border-radius: 10px;
  padding: 1em 1.5em;
  border: solid 2px rgba(144, 238, 144, 0.185);
  justify-content: center;
  align-items: center;
}

.fields-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  border: none;
  font-family: "Courier New", Courier, monospace;
  color: wheat;
  padding: 5px;
  border-left: solid 5px rgb(255, 255, 255);
  outline: none;
  text-align: center;
  background-color: rgba(203, 255, 203, 0.123);
}

/*
 * ╔══════════════════╗
 * ║  Debug Section   ║
 * ╚══════════════════╝
 */

details {
  border: 3px solid #66ff0013;
  border-radius: 6px;
  padding: 0.5rem;
  width: fit-content;
  font-family: sans-serif;
}

summary {
  cursor: pointer;
  color: rgba(253, 51, 51, 0.466);
  font-weight: bold;
}

.debug-section {
  margin: 1em;

  flex-direction: column;
  gap: 1em;
}

.debug-output {
  font-style: italic;
  letter-spacing: 1px;
  color: rgb(206, 34, 34);
  font-size: 0.95rem;
  background-color: rgba(255, 60, 0, 0.05);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  width: 22em;
  border: solid 2px rgba(233, 61, 61, 0.308);
}

/*
 * ╔════════════════╗
 * ║     Footer     ║
 * ╚════════════════╝
 */

.footer {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.95rem;
  color: #ccc;
  transition: all 0.4s ease;
  letter-spacing: 0.5px;
  align-self: center;
}

.footer:hover {
  color: #eee;
}

.footer span {
  display: inline-block;
  color: rgba(247, 48, 91, 0.8);
  transform: scale(1.6);
  transition: all ease 1s;
}

.footer span:hover {
  opacity: 1;
  color: rgb(247, 48, 91);
  text-shadow: 0 0 0.3em red, 0 0 0.4em rgba(250, 28, 158, 0.425);
  cursor: default;
  animation: pulseHeart infinite 1.5s ease-in-out;
}

/* note: 1.6 base scale */
@keyframes pulseHeart {
  0% {
    transform: scale(1.6);
  }

  30% {
    transform: scale(2);
  }

  60% {
    transform: scale(2.3);
  }

  100% {
    transform: scale(1.6);
  }
}

.footer a {
  display: inline-block;
  position: relative;
  color: rgba(18, 253, 88, 0.897);
  text-decoration: none;
  font-weight: bold;
  opacity: 90%;
}

.footer a::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(142, 255, 142);
  box-shadow: 0 3px 6px rgba(0, 255, 0, 0.5);
  transition: width 0.5s ease;
}

.footer a:hover::after {
  width: 100%;
}

/*
 * ╔══════════════════╗
 * ║     Buttons      ║
 * ╚══════════════════╝
 */

#reset {
  font-size: 25px;
  color: rgb(233, 65, 65);
  padding: 2px 10px;
  border-radius: 25%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.17);
  transition: all ease-in 0.1s;
  border: solid 2px rgba(248, 92, 92, 0.24);
}

#reset:hover {
  box-shadow: 0px 1px 2px rgba(250, 65, 65, 0.3);
  color: rgb(228, 50, 50);
  background-color: rgba(255, 0, 0, 0.27);
  border: solid 2px rgba(238, 74, 74, 0.644);
  text-shadow: 0px 1px 5px rgba(243, 48, 48, 0.699);
}

#reset-span-txt {
  display: inline-block;
  transform: rotateZ(-69deg);
}

#reset:active {
  transform: scale(0.9);
}


#apply {
  color: rgb(149, 252, 192);
  border: none;
  height: fit-content;
  padding: 0.7em 1.1em;
  border-radius: 3px;
  background-color: rgba(2, 99, 31, 0.212);
  border-bottom: solid 2px transparent;
  transition: all 0.3s ease;
}

#apply:hover {
  background-color: rgba(2, 99, 31, 0.12);
  box-shadow: 0px 1px 3px rgba(64, 233, 64, 0.3);
  border-bottom: solid 2px rgb(73, 255, 155);
  text-shadow: 0px 1px 3px rgba(92, 253, 100, 0.438);
}

#apply:active {
  transform: scale(0.9);
}

/*
 * ╔══════════════════╗
 * ║   Media Query    ║
 * ╚══════════════════╝
 */

@media (max-width: 768px) {

  header {
    padding: 0.5em 1em;
  }

  canvas,
  .boid-controller-wrapper {
    width: 95%;
  }

  .canvas-container {
    width: 100%;
  }

  .first-group-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 0.85em;
    row-gap: 1.85em;
    column-gap: 1.75em;
  }

  .second-group-wrapper {
    align-items: flex-end;
  }

  #boids-form {
    padding: 0.4em 0.7em;
    gap: 3em;
  }

  .input-field label {

    font-size: small;
  }

  .fields-wrapper {
    gap: 0.5em
  }

  .first-group-element-wrapper {
    width: fit-content;
    padding: 0px;
  }

  #color-wrap {

    justify-self: center;
  }

  .slider-range input {
    width: 50%;
  }

  .slider-range {
    display: flex;
    gap: 3px;
  }

  .slider-label {
    font-size: 0.75rem;
  }

  .footer {
    font-size: 0.85rem;
  }

}
